.App {
  margin: auto;
  width: 60%;
  border: 3px solid #282c34;
  background-color: aqua;
}
.container {
  text-align: center;
  color: blue;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

